{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", //polyfill按需加载 ， prolyfill以全局变量注入，会造成全局变量的污染
        "corejs": 2
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
